{{ define "main" }}

<div class="container">
    <section class="my">
        <div class="content">
            {{ with .Content }}
            {{ . }}
            {{ end }}
        </div>
    </section>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = .Paginate ($pages)  }}

<div class="container">
    <section>
        <h2>
            Posts
            <a class="section-button" href="/tags">Show Tags</a>
        </h2>
        <div class="posts">
            {{ range $pages.Pages }}
            <div class="post">
                <a href="{{ .RelPermalink }}">
                    <div class="post-row">
                        <time>{{ .Date.Format "Jan 02" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ if gt (len $projects) 0}}
    <section>
        <h2>Projects</h2>
        <div class="projects">
            {{ range $projects.ByWeight }}
            <div class="project">
                <div>
                    <a href="{{ .Params.link }}" target="_blank" rel="noreferrer">
                        <div class="icon">{{ .Params.icon }}</div>
                        <h3>{{ .Title }}</h3>
                    </a>
                    <div class="description">{{ .Params.description }}</div>
                </div>
                <div class="flex">
                    <a href="{{ .Params.repo }}" class="button" target="_blank" rel="noreferrer">Source</a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

{{ end }}
