<nav class="navbar">
    <div class="container">
        <div class="flex">
            <div>
                <a class="brand" href="{{ relURL "/" }}">
                    {{ .Site.Title }}
                </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                {{ range $name, $path := $.Param "socialOptions" }}
                {{ if (and $path (ne $name "email")) }}
                <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" "1.4em" "height" "1.4em") }}
                </a>
                {{ end }}
                {{ if (and $path (eq $name "email")) }}
                <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" "1.4em" "height" "1.4em") }}
                </a>
                {{ end }}
                {{ end }}
            </div>
            </div>
    </div>
</nav>
